@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background-color: #fff;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  position: sticky;
  top: 0;
  nav {
    width: 80%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    .red-logos {
      display: flex;
      width: 40%;
      justify-content: space-around;
    }
    .or {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      opacity: 0.25;
    }
    .rb-logo {
      img {
        width: 80px;
      }
    }
    .rbt-logo {
      display: flex;
      flex-direction: column;
      background-color: #d84e55;
      color: #eee;
      border-radius: 10px;
      padding: 8px;
      gap: 4px;
      font-weight: bold;
      img {
        height: 25px;
        filter: brightness(0) invert(1);
      }
    }
  }
  .tt-logo {
    display: flex;
    flex-direction: column;
    img {
      height: 38px;
      padding: 5px;
      filter: grayscale(1) brightness(0);
    }
    .sup {
      display: flex;
      flex-direction: row;
      sup {
        padding: 2.5px 10px;
        background-color: #60b681;
        height: min-content;
        margin-left: -10px;
        border-radius: 15px;
      }
    }
  }
  .help-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .profile,
  .help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 17.5%;
  background-image: url(./assets/Homepage-header-2000.webp);
  height: 520px;
  background-size: cover;
}
.banner-head-p {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  .banner-head {
    font-size: xx-large;
    margin-top: 20px;
    color: #fff;
    font-weight: bolder;
  }
}
.search-area {
  display: flex;
  height: 100px;
  width: 75%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 32px;
  background-color: #fff;
  color: #4a4a4a;
  .search-svg {
    width: 26px;
  }
  .text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 20px;
    input{
      height: 25%;
      outline: none;
      border: none;
    }
  }
  .revert{
    position: relative;
    left: 12.5px;
  }
  .from,.to{
    display: flex;
    height: 100%;
    width: 25%;
    padding-left: 20px;
    align-items: center;
    border-right: 1.5px solid #e0e0e0;
  }
  .date{
    display: flex;
    padding-left: 20px;
    gap: 7px;
    align-items: center;
    width: 25%;
    .input-area{
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      .date-op{
        opacity: .9;
      }
      .date-date{
        font-weight: bold;
        color: #000;
      }
    }
  }
  .search-busses{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    width: 25%;
    height: 100%;
    background-color: #d84e55;
    color: #fff;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}


.offers{
  position: relative;
  top: -50px;
  background-color: #fff;
  border-radius: 25px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-between;
  gap: 2.5vh;
  .offer-head{
    margin: 20px 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;


    button{
      color: navy;
      font-size: larger;
      background-color: #fff;
      padding: 1.5px 5px;
      border: 1px solid #cdcdcd;
      border-radius: 12px;
    }
  }
  .offer-corosal::-webkit-scrollbar{
    display: none;
  }
  .offer-corosal{
    display: flex;
    gap: 25px;
    overflow: scroll;
  }
  .offer{
    height: 170px;
    background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
    width: 30%;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    .offer-img{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        border-radius: 40px;
        width: 70px;
        height: 70px;
      }
    }
    .offer-details{
      color: #fff;
      width: 70%;
      display: flex;
      gap: 8px;
      justify-content: center;
      flex-direction: column;
      .bus{
        width: fit-content;
        font-size: large;
        padding: .5px 5px;
        border-radius: 10px;
        background-color:rgb(255 255 255 / 20%);
      }
      .offer-desc{
        font-weight: bolder;
      }
      .offer-validity{
        font-size: small;
      }
      .offer-coupon-code{
        display: flex;
        gap: 20px;
        .offer-code{
          background-color: rgb(255 255 255 / 20%);
          border: 1px dashed #fff;
          padding:2.5px 5px ;
          color: #fff;
          font-size: xx-small;
        }
        .copy-logo{
          img{
            height: 15px;
          }
        }
      }
    }
  }

}

#offer2{
  background-image: linear-gradient(71.04deg, rgb(39, 57, 101) -6.92%, rgb(80, 210, 149) 109.43%);
}
#offer3{
  background-image: linear-gradient(71.04deg, rgb(72, 0, 4) -6.92%, rgb(216, 78, 85) 109.43%);
}
#offer4{
  background-image: linear-gradient(71.04deg, rgb(14, 113, 67) -6.92%, rgb(115, 236, 179) 109.43%);
}
